body {
    padding: 0;
    margin: 0;
    background-color: rgba(193, 241, 225, 0.726);
    /* text-align: center; */
    
}


/* #cTest {
    background-color: rgb(185, 181, 181);
} */

.col-sm {
    background-color: rgb(202, 199, 199);
}

hr {
    /* border: none; */
    border-top: .3em double;
    color: rgb(78, 78, 78);;
}